<section class="head-wrapper">
  <img class="logo" src="../../../assets/igms/logo.png" alt="">
  <ul>
    <li>Home</li>
    <li>Skills</li>
    <li>Projects</li>
    <li>Contact</li>
    <li>
      <div class="contact-wrapper">
        <a href="">
          <img src="../../../assets/icons/github-grey-icon.png" alt="" />
        </a>
        <a href="">
          <img src="../../../assets/icons/linkedin-grey-icon.png" alt="" />
        </a>
        <a href="">
          <img src="../../../assets/icons/email-grey-icon.png" alt="" />
        </a>
      </div>
    </li>
  </ul>
</section>
