.head-wrapper{
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  justify-self: center;
  color: #A7A7A7;
  width: 100%;
  height: 80px;
  width: 76%;
  font-size: 20px;
  z-index: 10;
}

.head-wrapper .logo{
  height: 35px;
}

.head-wrapper ul{
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  gap: 45px;
}

.head-wrapper ul li a{
  text-decoration: none;
    color: #A7A7A7;
}

.contact-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.contact-wrapper a img{
  width: 23px;
  height: 23px;
}



@media only screen and (max-width: 720px) {

  .head-wrapper{
    display: none;
  }

}
