<section class="head-wrapper">
  <img class="logo" src="../../../assets/igms/logo.png" alt="">
  <ul>
    <li><a href="#section-introduction">Home</a></li>
    <li><a href="#section-skills">Skills</a></li>
    <li><a href="#section-projects">Projects</a></li>
    <li><a href="#section-contact">Contact</a></li>
    <li>
      <div class="contact-wrapper">
        <a href="https://github.com/pedrouchoa" target="_blank">
          <img src="../../../assets/icons/github-grey-icon.png" alt="link icon to Github Page" />
        </a>
        <a href="https://www.linkedin.com/in/pedrouchoa" target="_blank">
          <img src="../../../assets/icons/linkedin-grey-icon.png" alt="link icon to linkedin Page" />
        </a>
        <a href="mailto: joaopedrouchoacamposolimpio@gmail.com"  target="_blank">
          <img src="../../../assets/icons/email-grey-icon.png" alt="link icon to send an email" />
        </a>
      </div>
    </li>
  </ul>
</section>
