.principal-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  position: relative;
  z-index: 1;
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  padding: 20px;
  font-size: 17px;
}

.about-wrapper h1 {
  font-size: 50px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.me-wrapper {
  height: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  color: #b1afaf;
}

.me-wrapper span {
  border-right: 2px solid #ffd100;
  overflow: hidden;
  color: #ffd100;
}

.about-wrapper p {
  text-align: justify;
}

.social-wrapper a img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.image-wrapper {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #ffd100;
}

.anim-typewriter {
  animation: typewriter 2s steps(44) 1s normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 5.3em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: #ffd100;
  }
  to {
    border-right-color: transparent;
  }
}

@media only screen and (max-width: 1050px) {
  .header-wrapper {
    align-items: center;
    justify-content: center;
    margin: 20px;
  }

  .about-wrapper {
    width: 60%;
    padding: 0;
  }

  .about-wrapper h1 {
    font-size: 40px;
  }

  .me-wrapper {
    font-size: 20px;
  }

  .about-wrapper p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 850px) {
  .header-wrapper {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .about-wrapper {
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  .about-wrapper p {
    text-align: justify;
    font-size: 13px;
  }
}

@media only screen and (max-width: 470px) {
  .about-wrapper h1 {
    font-size: 35px;
  text-align: center;
  }
}
