<div class="principal-wrapper">
  <div class="header-wrapper">
    <section class="about-wrapper">
      <h1>João Pedro Uchôa</h1>
      <div class="me-wrapper">
        <p>I'm a</p>
        <span class="anim-typewriter">Developer</span>
      </div>
      <p>
        Desenvolvedor Backend com experiência prática em APIs REST utilizando
        Java e Spring Boot. Atuei em projetos que envolveram integração com banco
        de dados MySQL, testes unitários (JUnit, Mockito)e versionamento com
        Git. Familiaridade com Spring Security, uso de ferramentas como Postman
        eFeign Client e estudando Docker e Kotlin. Busco uma oportunidade como
        Dev Junior para evoluir emambientes colaborativos e de alta tecnologia.
      </p>
      <div class="social-wrapper">
        <a
          href="https://www.linkedin.com/in/pedrouchoa"
          target="_blank"
          alt="Linkedin icon"
        >
          <img src="../../../../../assets/icons/linkedin-icon.svg" alt="" />
        </a>
        <a href="mailto: joaopedrouchoacamposolimpio@gmail.com">
          <img
            src="../../../../../assets/icons/mail-icon.svg"
            alt="Email Icon"
          />
        </a>
        <a href="https://github.com/pedrouchoa" target="_blank">
          <img
            src="../../../../../assets/icons/github-icon.svg"
            alt="Github Icon"
          />
        </a>
      </div>
    </section>

    <section class="image-wrapper">
      <img [src]="'../../../assets/igms/img.jpeg'" alt="" width="320px" />
    </section>
  </div>
</div>
