  <div class="principal-wrapper">
    <div class="header-wrapper">
      <section class="about-wrapper">
        <h1>João Pedro Uchôa</h1>
        <div class="me-wrapper">
          <p>I'm a</p>
          <span class="anim-typewriter">Developer</span>
        </div>
        <p>
          Sou um Desenvolvedor fullstack, cursando ultimo semestre de Sistemas
          de Informação. Gosto de aplicar meus conhecimentos e habilidades
          técnicas em um ambientes profissionais desafiadores, contribuindo para
          o sucesso de projetos inovadores. Atualmente tenho foco em
          desenvolvimento web utilizando Java, Spring Boot, SQL, JUnit,
          TypeScript, Angular, Git HTML, SCSS, CSS.
        </p>
      </section>

      <section class="image-wrapper">
        <img src="../../../assets/igms/image.png" alt="" width="320px" />
      </section>
    </div>
  </div>
