.projects {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex;

  justify-content: flex-start;
  gap: 60px;
  margin-bottom: 50px;
}

.projects h2 {
  font-size: 50px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  margin-left: 160px;
  border-bottom: 2px solid #ffd100;
  align-self: flex-start ;
}

.skills-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 80vw;
  flex-wrap: wrap;
  gap: 100px ;
  row-gap: 60px;
  margin-left: 100px;
}


@media only screen and (max-width: 1050px) {
  .projects h2 {
  margin-left: 100px;
}
}

@media only screen and (max-width: 850px) {
    .projects h2 {
  margin-left: 0px;
}
  .projects{
    align-items: center;
    justify-content: center;
  }
}
