.skills {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  margin-bottom: 150px;
}

.skills h2 {
  font-size: 50px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  margin-left: 100px;
  border-bottom: 2px solid #ffd100;
  align-self: flex-start;
}

.skills-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 80vw;
  flex-wrap: wrap;
  gap: 100px;
  row-gap: 60px;
}

@media only screen and (max-width: 1024px) {
  .skills h2 {
    margin-left: 40px;
  }

  .skills-wrapper{
        width: 95vw;
  }

}

@media only screen and (max-width: 850px) {
  .skills h2 {
    margin-left: 0;
    align-self: center;
  }

  .skills-wrapper {
    gap: 50px;
  }

  @media only screen and (max-width: 736px) {
    .skills-wrapper {
      gap: 30px;
    }
  }

  @media only screen and (max-width: 425px) {
 .skills{
  margin-bottom: 50px;
 }
}


}
