.project-box {
  height: 420px;
  width: 300px;
  border-radius: 20px;
  background-color: #363636;
  color: #cccccc;
}

.project-box img {
  width: 100%;
  height: 45%;
  border-radius: 20px 20px 0 0;
}

.text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px 20px 20px 20px;
  gap: 10px;
}

.text-wrapper h3 {
  font-size: 24px;
}

.text-wrapper p {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.tech-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.tech-wrapper h4{
  font-size: 13px;
}

.tech-wrapper p{
  font-size: 13px;
}

.git-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.git-wrapper img{
  width: 20px;
  height: 20px;
}

.git-wrapper a{
  color: #cccccc;
  font-size: 13px;
}
