.project-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 440px;
  width: 300px;
  border-radius: 20px;
  background-color: #363636;
  color: #cccccc;
}

.project-box img {
  width: 100%;
  height: 45%;
  border-radius: 20px 20px 0 0;
}

.text-wrapper {
  height: 215px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px 15px 10px 15px;
  gap: 10px;
}

.text-wrapper h3 {
  font-size: 24px;
}

.text-wrapper p {
  font-size: 13px;
  line-height: 18px;
  text-align: justify;
}

.tech-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.tech-wrapper h4 {
  font-size: 13px;
}

.tech-wrapper p {
  font-size: 10px;
}

.git-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.git-wrapper img {
  width: 20px;
  height: 20px;
  justify-self: flex-end;
}

.git-wrapper a {
  color: #cccccc;
  font-size: 13px;
}
