.projects {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 50px;
}

.projects h2 {
  font-size: 50px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  margin-left: 100px;
  border-bottom: 2px solid #ffd100;
  align-self: flex-start;
}

.projects ul {
  width: 82vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 50px;
}

@media only screen and (max-width: 1220px){
  .projects ul {
    width: 99vw;
   gap: 50px;
   row-gap: 50px;
  }
}

@media only screen and (max-width: 1024px) {

.projects h2 {
  margin-left: 40px;
}

  .projects ul {
    width: 99vw;
   gap: 30px;
   row-gap: 50px;
  }
}

@media only screen and (max-width: 850px) {
  .projects h2 {
    margin-left: 0px;
    align-self: center;
  }
}


