<section class="footer-wrapper">
  <div class="creation-wrapper">
    <p>Designed and build by <span>Pedro Uchôa</span></p>
  </div>
  <div class="contact-wrapper">
    <p>joaopedrouchoacamposolimpio&#64;gmail.com</p>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/pedrouchoa" target="_blank">
          <img src="../../../assets/icons/linkedin-grey-icon.png" alt="Icone de link para o linkedin" />
        </a>
      </li>
      <li>
        <a href="github.com/pedrouchoa" target="_blank">
          <img src="../../../assets/icons/github-grey-icon.png" alt="Icone de link para o github" />
        </a>
      </li>
    </ul>
  </div>
</section>
