li{
display: flex;
align-items: center;
justify-content: center;
  height: 80%;
  width: 80%;
}

li img {
  height: 100%;
  width: 100%;
}

@media only screen and (width: 2559px) {
li img {
  height: 40%;
  width: 40%;
}

}
